body {
    background-color: darkgray;
}

.port2 {
    background-image: url("Port/port2.png");
    height:500px;

    background-size:cover;
    background-attachment: fixed;

}


.card{
    padding-top: 5rem;
    border-radius: 50px;
    background: rgba(187, 187, 187, 0.45);
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;

}
.principal {
    border-radius: 50px;
    background: rgba(187, 187, 187, 0.45);
    width: 50%;
    
    margin-left: auto;
    margin-right: auto;


}

.avatar {
    position: center;
    width: 196px;
    height: 196px;
    border-radius: 98px;
    margin-left: auto;
    margin-right: auto;
}

.fotoProy{
    border-radius: 45px !important;
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}

.fab{
    height: 55px;
    width: 55px;
}

.proyectos{
    background-color: darkslategrey;
}